
.tab{
    display: block;
    padding: 10px 20px;
    text-align: center;
}

.tab a{
    padding: 14px 30px;
    margin: 0 10px;
    font-size: 18px;
    background-color:cornflowerblue;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;  /* 밑줄 제거 */
    border: 5px solid white;  /* 테두리 색상 설정 */
}

p{
    font-size: 18px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

body{
    background-color:ivory;
}
hr{
    border: 1px solid darkgray;
}
