.hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.hobby-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
}

.hobby-card:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    border-radius: 10px;
}

p {
    font-size: 14px;
    color: #555;
}